<h2 class="title vertical-center">編輯 <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username, '帳號' %><br />
    <div class="control">
      <%= f.text_field :username, autofocus: true, class: "input" %>
    </div>
    <p class="help">範例：@qaz123</p>
  </div>

  <div class="field">
    <%= f.label :avatar, '大頭照' %><br />
    <div class="control">
      <%= f.file_field :avatar %>
    </div>
  </div>

  <%= avatar(current_user, size: [150, 150]) %>

  <div class="field">
    <%= f.label :intro, '個人簡介' %><br />
    <div class="control">
      <%= f.text_area :intro, placeholder: "Intro", class: "textarea", rows: "5" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <div class="control">
      <%= f.email_field :email, autocomplete: "email", class: "input" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, '密碼' %> <i>（如不更新密碼，可留白）</i><br />
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
      <% if @minimum_password_length %>
        <br />
        <em>最少需<%= @minimum_password_length %>字元</em>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, '確認密碼' %><br />
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "更新", class: "button is-link" %>
  </div>
<% end %>

<%= link_to "返回", :back %>
