<h1 class="title vertical-center">故事列表</h1>

<div class="section">
  <table class="table">
    <thead>
      <tr>
        <th><abbr>標題</abbr></th>
        <th><abbr>內文</abbr></th>
        <th><abbr>最後更新</abbr></th>
        <th><abbr></abbr></th>
        <th><abbr></abbr></th>
        <th><abbr></abbr></th>
      </tr>
    </thead>
    <tbody>
      <% @stories.each do |story| %>
        <tr>
          <td><%= story.title %></td>
          <td><%= truncate(strip_tags(story.content), length: 80) %></td>
          <td><%= time_ago_in_words(story.updated_at) %></td>
          <td><%= content_tag :span, '已發布', class: "tag is-info" if story.published? %></td>
          <td><%= link_to '編輯', edit_story_path(story), class:"button is-primary is-inverted" %></td>
          <td><%= link_to '刪除', story_path(story), method: :delete, data: { confirm: "確定刪除？" }, class:"button is-danger is-inverted" %></td>
        </tr>
      <% end %>
    </tbody>
</div>