<h1 class="title vertical-center"><%= @story.title %></h1>
<section class="section is-medium">
  <p class="subtitle white-space">
    <%= @story.content %>
  </p>
</section>
<p class="subtitle"><%= link_to '編輯', edit_story_path(@story) %></p>
<p class="subtitle"><%= link_to '刪除', story_path(@story), method: :delete, data: { confirm: "確定刪除？" } %></p>
<p class="subtitle"><%= link_to '返回故事列表', stories_path %></p>